<section class="flex flex-col items-center justify-center w-full gap-8">
  <form
    class="flex flex-col items-center justify-center gap-8 w-full"
    [formGroup]="registerForm"
    (ngSubmit)="register()"
  >
    <h2 class="text-xl font-bold mb-4">Register</h2>
    <div class="flex flex-col items-center justify-center gap-8 md:w-1/3">
      <input
        type="text"
        placeholder="Username"
        class="w-full border-violet-500 px-4 py-2 rounded mr-2 text-black"
        formControlName="username"
      />
      <input
        type="password"
        placeholder="Password"
        class="w-full border-violet-500 px-4 py-2 rounded mr-2 text-black"
        formControlName="password"
      />
      <input
        type="password"
        placeholder="Confirm password"
        class="w-full border-violet-500 px-4 py-2 rounded mr-2 text-black"
        formControlName="confirmPassword"
      />
      @for (error of getErrorLabel; track $index) {
      <p class="text-red-500 text-sm">{{ error }}</p>
      }
    </div>
    <button class="btn" [disabled]="registerForm.invalid">Signup</button>
  </form>
</section>
